body {
    font-family: Arial, Tahoma;
    background-color: #f2f2f2;
    direction: rtl;
}

.container {
    width: 350px;
    background: white;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: #333;
}

.job {
    color: #777;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    background: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}
